<body class="d-flex text-center">
  <h2>Sign in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render 'shared/devisemes' %>
    <div class="form-login">
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
    </div>
    <div class="form-login">
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="form-login">
        <%= f.check_box :remember_me %> Remember Me
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Sign in", class: 'btn btn-primary' %>
      <%= link_to "Forgot Password", new_user_password_path, class: "btn btn-primary" %>
        <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</body>
